@charset "ISO-8859-1";

h1{
	text-align :center;
	color: #FF0000;
	
}
.center{
	
	text-align : center;
}
table{
	
	border : 1px solid #0000ff;
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
}
tr,td,th{
	
	border: 1px solid #0000ff;
}


ul>li{
	
	display: inline;
	margin: 10px;
}